<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Name="Photon" Id="*" UpgradeCode="9c09a374-1135-4782-959f-2dec376a1dfa" Language="1033" Codepage="1252" Version="0.4.6" Manufacturer="Photon">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <Icon Id="photon.exe" SourceFile=".\extra\windows\photon.ico"/>
        <WixVariable Id="WixUILicenseRtf" Value=".\extra\windows\wix\license.rtf"/>
        <Property Id="ARPPRODUCTICON" Value="photon.exe"/>
        <MediaTemplate EmbedCab="yes"/>
        <UIRef Id="WixUI_Minimal"/>

        <Feature Id="ProductFeature" Title="ConsoleApp" Level="1">
            <ComponentRef Id="PhotonExe"/>
            <ComponentRef Id="PhotonShortcut"/>
            <ComponentRef Id="ModifyPathEnv"/>
            <ComponentRef Id="ContextMenu"/>
        </Feature>

        <!-- Create directories -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="PhotonProgramFiles" Name="Photon"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="PhotonProgramMenu" Name="Photon"/>
            </Directory>
        </Directory>

        <!-- Application binaries -->
        <DirectoryRef Id="PhotonProgramFiles">
            <Component Id="PhotonExe" Guid="*">
                <File Id="PhotonExeFile" Source=".\target\release-lto\photon.exe" Name="photon.exe" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="PhotonProgramMenu">
            <!-- Application shortcut -->
            <Component Id="PhotonShortcut" Guid="7d3d3a8e-febb-4759-8eca-873676d5066a">
                <Shortcut Id="PhotonShortcutFile" Icon="photon.exe" Name="Photon" Description="Lightning-fast and Powerful Code Editor" Target="[PhotonProgramFiles]photon.exe"/>
                <RemoveFolder Id="PhotonProgramMenu" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\Photon" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="PhotonProgramFiles">
            <!-- Add to PATH -->
            <Component Id="ModifyPathEnv" Guid="0581ccb0-5db8-4935-8b07-8f46bc2d7171" KeyPath="yes">
                <Environment Id="PathEnv" Value="[PhotonProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="TARGETDIR">
            <!-- Add context menu -->
            <Component Id="ContextMenu" Guid="22ad399b-1d77-416c-ae33-57e8f8511177">
                <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open Photon here\command">
                    <RegistryValue Type="string" Value="[PhotonProgramFiles]photon.exe &quot;%V&quot;" KeyPath="yes"/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open Photon here">
                    <RegistryValue Type="string" Name="Icon" Value="[PhotonProgramFiles]photon.exe"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Product>
</Wix>
